<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>App</title>
    <!-- Bootstrap -->
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <!-- Google Web Fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">

    <!-- Template CSS Files  -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Fav and touch icons -->


</head>
<body ng-app="lostNFound">

   

 


    <div ui-view="splash">
       
    </div>


  

    <script src="/Scripts/jquery-3.1.1.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/angular-ui-router-1.0.3.js"></script>
    <script src="/Scripts/angular-animate.js"></script>
    <script src="/Scripts/angular-toastr.tpls.js"></script>
    <script src="/app/public/app.public.js"></script>
    <link href="/Scripts/angular-toastr.css" rel="stylesheet" />
    <script src="/Scripts/respond.js"></script>
    <script src="/Scripts/piexif.min.js"></script>
    <script src="/Scripts/sortable.min.js"></script>
    <script src="/Scripts/purify.min.js"></script>
    <script src="/Scripts/fileinput.min.js"></script>
    <link href="/Content/Site.css" rel="stylesheet" />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgv9wO_gY768dq28ZRf_YRykSsiUF2j2Q"
            async defer></script>


    

   
    @RenderBody()
</body>

</html>




    



