<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <img src="/Content/images/thinLogo.png" />
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar" ui-sref="pub.found">Found</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

    </div>
</div>

<div class="jumbotron">
    <div>
        <div class="text-center">
            <img src="/Content/images/ucrlf2.png" />
        </div>
    </div>
</div>
<div class="row text-center col-lg-8 col-lg-offset-2">
    <div>
        <form>
            <input id="search" type="text" name="search" placeholder="Search by item...">
        </form>
    </div>

    <div id="map" style="height: 552px; width:500px; text-align:center; margin:auto;"></div>
   
</div>

<div class="container body-content">
    <hr />
    <footer id="myFooter">
        <div class="container">
            <ul>
                <li><a href="#">UCR Information</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">Terms of service</a></li>
            </ul>
            <p class="footer-copyright">© 2017 Copyright UCR Lost &amp; Found</p>
        </div>
        <div class="footer-social">
            <a href="https://www.linkedin.com/in/andrew-park-766061151/" target="_blank"><img src="/Content/images/andy.jpg" class="img-circle" width="50" /></a>
            <a href="https://www.linkedin.com/in/eddy-ruiz-6462383a/" target="_blank"><img src="/Content/images/eddy.jpg" class="img-circle" width="50" /></a>
            <a href="https://www.linkedin.com/in/eli-skurskiy93/" target="_blank"><img src="/Content/images/eli.jpg" class="img-circle" width="50" /></a>
            <a href="https://www.linkedin.com/in/escobar310/" target="_blank"><img src="/Content/images/gc.jpg" class="img-circle" width="50" /></a>
        </div>
    </footer>

</div>


